on:
  push:
    branches: [ master ]
  pull_request:

name: Continuous integration

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:                   # All permutations of {rust, mcu}
        rust:
          - 1.69.0  # MSRV
          - stable
        mcu:
          - stm32h503
          - stm32h562
          - stm32h563
          - stm32h573
        logging:                # Example logging options
        - log-itm
        - log-semihost
        - log-rtt
    env:                        # Peripheral Feature flags
      FLAGS: rt

    steps:
      - uses: actions/checkout@v4
      - name: Cache cargo registry and index
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-target-${{ matrix.rust }}-${{ hashFiles('**/Cargo.toml') }}-memory-${{ hashFiles('**/*.x') }}
      - name: Install thumbv8m rust target
        run: rustup target add thumbv8m.main-none-eabihf
      - name: Build
        run: cargo build --verbose --release --examples --target thumbv8m.main-none-eabihf --features ${{ matrix.mcu }},${{ env.FLAGS }}
      - name: Test
        run: cargo test --lib --target x86_64-unknown-linux-gnu --features ${{ matrix.mcu }},${{ env.FLAGS }}
